body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100vw;
  height: 100vh;
}

/* TEXT */

body>form {
  position: relative;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: flex-start;
  width: 80vw;
  height: 80vh;
  margin: auto;
  border-radius: 4px;
  box-shadow: 0px 0px 3em rgba(0,0,0,0.2);
}

body>form fieldset {
  margin: 2em 0em;
  height: 4em;
  width: 20%;
}

body>form fieldset legend {
  font-size: 0.7em;

}

body>form fieldset input, body>form fieldset select {
  width: 100%;
  border: none;
  border-radius: 4px;
  padding: 1em;
  margin-top: 0.5em;
  background-color: rgba(180,180,180,0.1);
}

body>form fieldset:last-child {
  flex-basis: 95%;
  height: 80%;
}


body>form fieldset:last-child legend{
  margin-bottom: 0.5em;
}

body>form fieldset:last-child textarea{
  width: 100%;
  height: 88%;
  border: none;
  border-radius: 4px;
  background-color: rgba(180,180,180,0.1);
  resize: none;
  padding: 1em;
}

body>form>fieldset:last-child>input {
  width: 10%;
  height: 4em;
  position: absolute;
  bottom: 2.5em;
  right: 2em;
  flex-basis: 0%;
  background-color: rgba(239, 71, 58, 1);
  color: rgba(255,255,255,1);
  font-weight: bolder;
}

#send {
  transition: .5s;
}

#send:hover {
  cursor: pointer;
  transform:scale(1.05);
  transition: .5s;
}

/* MEDIA QUERY */

@media (max-width: 480px){

  body>form {
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
  }

  body>form fieldset {
    height: 1em;
    width: 80%;
  }

  body>form fieldset:last-child {
    flex-basis: 0%;
  }

  body>form fieldset:last-child textarea{
    width: 100%;
    height: 30vh;
  }

  body>form>fieldset:last-child>input {
    width: 88%;
    height: 4em;
    position: absolute;
    right: 10px;
  }

}
